.footer{
    background-color: #000000;
    margin: 30px 44px 0 64px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 1240px;
}
.footer_copyright{
    color: #ffffff;
}
.footer-logo{
    margin: 20px 0px 10px 0px;
}