.cards {
  background: #f6f6f6;
  width: 1240px;
  border-radius: 25px;
  margin: 30px 44px 0 64px;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  grid-gap: 40px;
  justify-items: center;
  place-content: center;
  padding: 40px;
}

